/* The navigation bar */
.navbar {
  overflow: hidden;
  background-color: #333;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}

/* Links inside the navbar */
.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change background on mouse-over */
.navbar a:hover {
  background: #ddd;
  color: black;
}

/* Main content */
.main {
  margin-top: 30px; /* Add a top margin to avoid content overlay */
}
body {
	background-color: #d3d3d3;
    -ms-touch-action: none;
    touch-action: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    }


Li{
	display:right;
	margin:"200px";
	font-variant: small-caps;
}

a{
	
	color:#000000;
	text-decoration:none;
}

a:hover{
	color:#0606CC
}

img{
	
	float:right;
}

div{
	width:1000px;
	height:100%;
	background-color:#999999;
	margin-left: auto;
	margin-right: auto;
	border-radius: 5px;
}

ul{
	float:none;
	width:560px;
	font-size: 22px;
	font-variant: small-caps;
	
}
h1{
	font-variant: small-caps;
}
