body {
	background-color: #d3d3d3;
}

Li{
	display:inline;
	margin:"200px";
}

a{
	color:#000000;
	text-decoration:none;
}

a:hover{
	color:#001DFF
}

img{
	float:right;
}

div{
	width:600px;
	height:100%;
	background-color:#999999;
	margin-left: auto;
	margin-right: auto;
	border-radius: 5px;
}

ul{
	float:left;
	width:560px;
}